.search {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.search > input {
  width: 300px;
  margin: auto;
}

.search > button {
  width: 300px;
  margin: auto;
}

.hospitals {
  height: 300px;
  overflow: scroll;
  width: 300px;
  margin-top: 1rem;
}

.hospitals > div {
  margin-bottom: 1rem;
}

.hospitals > div:hover {
  background-color: var(--primary-color-light);
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.selected {
  background-color: var(--primary-color-light);
}

.back {
  margin-bottom: 1rem;
}

.search-bar {
  width: 100%;
  display: flex;
}

.search-bar > input {
  flex-grow: 1;
}