/* .home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hero {
    display: flex;
    align-items: center;
  }
   */

   /*
  .subtitle {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .headersubtitle {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  
  .btn {
    border: none;
    border-radius: 32px;
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 15px;
    width: 33%;
    height: 35px;
  }
  
  .browse-btn {
    background-color: var(--primary-color);
    color: white;
  }
  */
  .imageUploadFormContainer {
    /* background-color: #333; */
    background-color: #469bd9;
    width: 800px;
    margin: auto;
  }
  .imageUploadFormContainerRow {
    display: flex;
    flex-direction: row;
  }
  .dropArea {
    background-color: rgba(232,243,255,255);
    /* background-color: #469bd9; */
    border: 2px #ccc;
    border-radius: 20px;
    font-family: sans-serif;
    height: 250px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 20px;
    */
  }
  .dropArea.highlight {
    border-color: purple;
  }
 
  .imageUploadContainer {
    /* background-color: #ff0; */
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageUploadFormContainerCol {
    /* background-color: #0ff; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .centeredRow {
    display: flex;
    justify-content: center;
  }

  .greyBackgroundColor {
    background-color: #999;
  }

  .register-btn {
    margin-bottom: 20px;
  }

  .inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

.inputFile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: red;
}