
body {
  font-family: 'Source Sans Pro';
}

  .imageUploadFormContainer {
    background-color: #eee;
    width: 800px;
    margin: auto;
  }
  .imageUploadFormContainerRow {
    display: flex;
    flex-direction: row;
    
  }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .dropArea {
    border-radius: 20px;
    font-family: sans-serif;
    height: 250px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropArea.highlight {
    border-color: purple;
  }
 
  .imageUploadContainer {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageUploadFormContainerCol {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .centeredRow {
    display: flex;
    justify-content: center;
  }

  .topMostRow {
    padding-top: 15px;
  }

  .greyBackgroundColor {
    background-color: #999;
  }

  .register-btn {
    margin-bottom: 20px;
  }

  .inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

.roundButton, .inputFile + label {
    border: none;
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: #0e9cde;
    border-radius: 100px;
    width: 130px;
    height: 30px;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.roundButton:hover, .inputFile:focus + label,
.inputFile + label:hover {
    background-color: red;
}

.dropInputArea {
  border: 4px dashed #ccc;
}

.dropArea .imgContainer {
  margin: 30px;
}

.colOfTwoButtons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}