.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  width: 300px;
  margin-bottom: 2rem;
}

.header--text {
  margin-left: 0.75rem;
}

.form {
  width: 300px;
}

.input-container {
  margin-bottom: 1.5rem;
}

.input-container * {
  width: 100%;
}

.input-container > input {
  margin-bottom: 0.25rem;
}

.submit-btn {
  text-transform: capitalize;
  font-weight: bold;
  display: block;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-color);
  width: 300px;
  color: white;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.link {
  text-align: center;
  text-decoration: underline;
  color: rgb(73, 73, 73);
  margin-top: 0.5rem;
}

.link:hover {
  cursor: pointer;
}

.hospitalRegister input{
  width: 300px;
}

.error {
  color: rgb(245, 8, 8);
}

