.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  width: 50%;
  max-width: 500px;
  margin-bottom: 2rem;
}

.header--text {
  margin-left: 0.75rem;
}

.page > form {
  width: 50%;
  max-width: 500px;
}

.page > form > input {
  width: 100%;
  margin-bottom: 1rem;
}

.login-btn {
  text-transform: capitalize;
  font-weight: bold;
  display: block;
  border-radius: 1rem;
  border: none;
  background-color: var(--primary-color);
  width: 100%;
  color: white;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.register-link{
  text-align: center;
  text-decoration: underline;
  color: rgb(112, 112, 112);
}

.hospitalRegister input{
  width: 300px;
}