.hero {
  display: flex;
  flex-direction: column;
  background-color: #e8f3ff;
}

.subtitle {
  text-align: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.btn {
  border: none;
  border-radius: 32px;
  display: block;
  margin: auto;
  font-weight: bold;
  font-size: 15px;
  width: 33%;
  height: 35px;
}

.login-btn {
  background-color: var(--primary-color);
  color: white;
}

.register-btn {
  margin-top: 16px;
  background-color: var(--gray);
}

.profile-summary-container {
  background-color: #fff;
  width: 75%;
  margin: auto;
  margin-top: 55px;
  border-radius: 10px;
}

.profile-last-row {
  margin-bottom: 20px;
}

.profile-row-with-avatar {
  margin-top: 20px;
}

.profile-row-after-hr {
  margin-top: 10px;
}

.profile-row-inner {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  
  display: flex;
}

#profiles hr {
  border-color: #000;
  margin-left: 20px;
  margin-right: 30px;
}

.profile-avatar {
  border-radius: 50%;
  width: 90px;
}

.history-container {
  margin-left: auto;
}

.history-container-inner {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.history-icon {
  width: 42px;
  height: 42px;
}

.bottom-aligned {
  margin-bottom: 3px;
  text-align: center;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.profile-attributes {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  margin-left: 30px;
}

.profile-tabs-and-tables {
  width: 75%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.profile-tabs {
  flex-grow: 0.45;
}

ul.no-bullet-points {
  list-style-type: none;
}

ul.no-bullet-points li {
  font-size: 23px;
  margin-bottom: 20px;
}



.profile-tables {
  flex-grow: 1;
}

.profile-tables-inner {
  background-color: #fff;
  margin-top: 20px;
  height: 400px;
  border-radius: 10px;

}

.profile-tables-header-row {
  height: 70px;
  margin-left: 50px;
  position: relative;
  font-size: 23px;
  margin-bottom: 10px
}

.profile-tables-header-row p {
  position: absolute;
  bottom: 0;
}

.profile-table-container {
  margin-left: 45px;
}

.profile-table-container table {
  margin: 25px;
  width: 100%;
  border-spacing: 0 15px;
}

.logout {
  width: max-content;
  position: absolute;
  right: 0;
  margin: 1rem;
}