.page {
  display: flex;
  padding: 1rem;
  flex-grow: 1;
}

.filter-input {
  width: fit-content;
  border-radius: 16px;
  border: 0.5px solid black;
  padding: 0.75;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.filter > h3 {
  margin-top: 0.5rem;
}

.archives {
  border-left: 1px solid black;
  margin-left: 1rem;
  padding-left: 1rem;
}

.archives > input {
  border-radius: 1rem;
  border: 1px solid black;
}

.archives > div {
  display: flex;
  flex-direction: column;
  display: inline-block;
  margin: 1rem;
  /* text-align: center; */
}

.general-btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.25rem 0;
}

.general-btn:hover {
  cursor: pointer;
}

.select-btn {
  text-transform: uppercase;
  font-size: 1rem;
}

.unselect-btn {
  font-size: 1rem;
  width: 110px;
}

.unselect-btn > div > * {
  margin-left: 10px;
}

.image-card > img {
  width: 150px;
  aspect-ratio: 1;
}

.imageUploadFormContainer {
  /* background-color: #333;
  background-color: #469bd9;
  */
  background-color: #eee;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;

}

.selected-image-viewer {
  background-color: #a3a;
  width: 100%;
}